/* -----------------
/* General CSS Reset */
/*-------------------*/
:root {
	--shadow: 2px 2px 5px 1px hsla(0, 0%, 0%, 0.2);
	--shadow-dark: 2px 2px 5px 1px hsla(0, 0%, 100%, 0.2);
	--border-color: hsl(222, 40%, 11%);
	--dark-mode-btn: hsl(214, 20%, 69%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* -------------------------- */
/* Making basic style resets */
/* ------------------------- */
html {
	font-size: 62.5%;
}

@media (min-width: 768px) {
	html {
		font-size: 70%;
	}
}

html,
body {
	scroll-behavior: smooth;
}

input,
select,
textarea,
button {
	font-family: inherit;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	line-height: inherit;
	border: none;
	outline: none;
}

body {
	font-size: 1.6rem;
	color: white;
	line-height: 1.5;
}
